<div className="App">
          <h1 className="text-center mt-3">
            <img
              src="https://www.golomax.com.ar/public/assets/img/logo.png"
              alt="Logo de Golomax"
              className="ml-2 img-fluid"
            />
          </h1>

          <nav className="navbar navbar-expand-lg navbar-light bg-light">
            <div className="container-fluid">
              <div className="navbar-header"></div>
              <div className="navbar-nav ml-auto">
                <Link to="/mostrar/consumoPersonal" className="nav-link">
                  <button type="button" className="btn btn-warning">
                    Lista Consumo Personal
                  </button>
                </Link>
              </div>
              <div className="navbar-nav mx-auto">
                <Link to="/mostrar/comerciante" className="nav-link">
                  <button type="button" className="btn btn-warning">
                    Lista Comerciante
                  </button>
                </Link>
              </div>
              <div className="navbar-nav mr-auto">
                <Link to="/mostrar/reventa" className="nav-link">
                  <button type="button" className="btn btn-warning">
                    Lista Reventa
                  </button>
                </Link>
              </div>
            </div>


